.App {
  height: 100vh;
  text-align: center; 
  background-color: deepskyblue;
  display: grid;
  grid-template-columns: 70% 30%;
}

.main {
    margin: auto;
    min-width: 300px;
}

.background {
    margin: 5px;
    border: 1px solid black;
    background-color: white;
}