.App {
  height: 100vh;
  background-color: deepskyblue;
}

.container {
    text-align: center; 
    display: grid;
    grid-template-columns: 70% 30%;
}

.main {
    margin: auto;
    min-width: 300px;
    grid-row: span 2
}

.background {
    margin: 5px;
    border: 1px solid black;
    background-color: white;
}

.list {
    height: 70vh;
    overflow: auto;
}

.stats {
    height: 27vh;
}